//- For more information about Jade, please look at jade-lang.com/reference/
doctype html

html
  title Express 4 - Tutorial
  body
    h1 Awesome, you made it here!

    p This is a simple readable and runnable tutorial for Node.js based web framework.
      a(href="http://expressjs.com/") Express

    p   And here:s the source
    a(href="https://github.com/patricjansson/express-4-tutorial") Source at GitHub.com

    //- the name comes from the data passed in the render functions.
    P Enjoy! #{name}

      ul
        li
          a(href="/text") Text
        li
          a(href="/html") HTML
        li
          a(href="/json") JSON
        li
          a(href="/profile/username") Redirect
        li
          form(action="/profile/patricjansson", method="POST")
             button(type="submit") Post
        li
          a(href="/static/patricjansson.png") Image
        li
          a(href="/noting here") 404
        li
          a(href="/secure/go/away") 403 no access allowed
