//- For more information about Jade, please look at jade-lang.com/reference/
doctype html

html
  title Express 4 - Tutorial
  body
    p Awsome, you made it!

    //- the name comes from the data passed in the render functoin
    P #{name}
