//- For more information about Jade, please look at jade-lang.com/reference/
doctype html

html
  title Do a post
  body
    h1 Post to /profile/patricjansson

    form(action="/profile/patricjansson", method="POST")
       button(type="submit") Post
